body {
	background-color: rgb(243, 249, 252);
	font-family: 'Mulish';
	text-align: center;
}

.navbar a {
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	padding: 10px 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.navbar a:link {
	text-decoration: none;
	color: inherit;
}

.navbar a:visited {
	color: inherit;
}

.navbar a:hover {
	background-color: rgb(12, 1, 3);
	border: 2px solid white;
	border-radius: 4px;
	color:rgb(243, 249, 252);
	width: 4%;
	height: 4%
}